<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MR M's Stock Price Predictor</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div id="loading-overlay"><div class="inner-wrapper"><div class="spinner"></div></div></div>
<div id="main-wrapper">
    <div class="header-wrapper">
        <h1>MR M's</h1>
        <h1>Dow Jones Industrial Average</h1>
        <h1>Stock Price Predictor</h1>
    </div>

    <div class="intro-wrapper">
        <p>Please select one of the DJIA companies from the dropdown to receive a Buy/Sell/Hold recommendation from MR M!</p>
    </div>

    <div class="form-input">
        <select name="ticker" id="ticker">
            <option value="select" selected>Please select...</option>
            {% for key, value in tickers.items() %}
                <option value="{{key}}">{{key}} - {{value}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-input">
        <button id="ticker-selector-submit" type="submit">Show Me The Prediction!</button>
    </div>
    <div id="response">
        <div id="response-inner"></div>
        <h2 class="buy">BUY!</h2>
        <h2 class="sell">SELL!</h2>
        <h2 class="hold">HOLD...</h2>
    </div>
    <div class="blurb-text"><p>How did we come this to recommendation..?</p></div>
    <div id="rmse" class="blurb-text"></div>
    <div id="confidence" class="blurb-text"></div>
    <div id="graph-holder" class="clearfix">
        <canvas id="lineChart3" width="800" ></canvas>
        <canvas id="lineChart" width="600" ></canvas>
        <canvas id="lineChart2" width="600" ></canvas>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>